<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="mask"
      converterClass="com.power4j.fist.logback.converter.SensitiveConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %mask{configFile=logback-masking.properties}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
